/* Styles for sortable functionality */

.dialog-item {
    cursor: move;
    position: relative;
    transition: all 0.2s ease;
    border-left: 3px solid transparent;
}

.dialog-item:hover {
    border-left-color: #007cba;
}

.dialog-header {
    cursor: grab;
    position: relative;
    margin-right: auto;
}

.dialog-item-placeholder {
    border: 2px dashed #ccc;
    background-color: #f7f7f7;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.dialog-answers ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.dialog-answers ul li {
    cursor: move;
    transition: background-color 0.2s ease;
    padding: 15px;
    border-radius: 3px;
    position: relative;
    border-left: 3px solid transparent;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: 700;
    text-align: left;
    align-items: start;
    border: solid 1px #2271b1;
}

.wp-core-ui .dialog-answers ul li::before {
    color: #000;
}

.dialog-answers ul li:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
}

.answer-actions .dialog-answers ul li button,
.answer-actions .dialog-answers ul li a {
    color: #fff;
    font-weight: 600;
}

.answer-item-placeholder {
    border: 2px dashed #eee;
    background-color: #f9f9f9;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* Style for the dragging state */
.ui-sortable-helper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    background-color: #f8f8f8;
    border-radius: 3px;
}

/* Sort indicator */
.sort-indicator {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    display: none;
}

.dialog-header:hover .sort-indicator,
.dialog-answers ul li:hover .sort-indicator {
    display: block;
}

/* Add drag icon with animation */
.dialog-header::before,
.dialog-answers ul li::before {
    content: "\f545";
    /* WordPress dashicons move icon */
    font-family: dashicons;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;

    color: #fff;
    vertical-align: middle;
    transition: color 0.2s ease;
}

.dialog-header::before {
    margin-right: 0px;
}

.wp-core-ui .answer-actions .button-link {
    text-decoration: none;
    font-weight: 400;
    margin-top: 15px;
    background: #2271b1;
    color: #fff;
    padding: 3px 16px;
    border-radius: 10px;
}