#create-village-form {
    button {
        margin-top: 20px;
    }
}

.polaroid {
    max-width: 70%;
    // margin: auto;
    margin: 32px auto;
}

label {
    margin-bottom: 8px;
    display: block;
}